<form [formGroup]="auth_form" (ngSubmit)="on_submit()" style="margin: 10px;">
  <mat-form-field appearance="standard">
    <mat-label>Client ID</mat-label>
    <input matInput type="text" formControlName="client_id">
  </mat-form-field>
  <br>

  <mat-form-field appearance="standard">
    <mat-label>Redirect URI</mat-label>
    <input matInput type="text" formControlName="redirect_uri">
  </mat-form-field>
  <br>

  <mat-form-field appearance="standard">
    <mat-label>Response type</mat-label>
    <input matInput type="text" formControlName="response_type" readonly>
  </mat-form-field>
  <br>

  <button mat-flat-button color="primary" type="submit">Get authorization code</button>
</form>

